/PasswordReaderApp.class
/NoLetterException.class
/NoNumberException.class
/NoSpecialCharException.class
/PasswordReaderApp$NoLetterException.class
/PasswordReaderApp$NoNumberException.class
/PasswordReaderApp$NoSpecialCharException.class
